title {
  font-size: x-small;
}
li {
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
body h2 {
  font-family: 'Courier New', Courier, monospace;
}
#container{
	width: 1000px;
	margin: 0 auto;
	background-color: #96C3F8;
}
header {
  background-color: #999999;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header p {
  color:rgb(182, 182, 182);
}
header li {
  float: left;
  padding-left: 10px;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
header a {
  color: black;
}

body {
  background-color: rgb(182, 182, 182);
}
#page {
  background-color: rgb(119, 119, 119);

}
#panel {
    position: center;
    width: 650px;
    height: 450px;
}


#home-col-1{
  /* (for some reason this isnt working) align-content: center;*/
	display: inline-block;
	width: 650px;
  align-items: center;
	vertical-align: top;
  padding-left: 400px;
  padding-right: 130px;
  border: 1px;
  margin-top: 10px;
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
}
#home-col-1 h2 {
  font-family: 'Courier New', Courier, monospace;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: ;
  padding-top: 30px;
  text-align: center;
  position: -webkit-sticky;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  text-decoration-color: #ff0000;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  }
  
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 10px: color: white;
  cursor: pointer;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

.dropbtn:hover, .dropbtn:focus {
  background-color: black;
}

.dropdown {
  position: relative;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(182, 182, 182);
  min-width: 450px;
  overflow: auto;
}
.dropdown-content p {
  border-style: dashed;
}

.dropdown-content a {
  font-family: 'Courier New', Courier, monospace;
  color: blue;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

